---
name: "Go Test"
permissions:
  contents: "read"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go-test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"

      - uses: "actions/setup-go@v6"
        with:
          go-version: "stable"

      - name: "Test"
        run: "go test -v ./..."
...
