---
name: "Go Security"
permissions:
  contents: "read"
  security-events: "write"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 8 * * 1"

jobs:
  gosec:
    runs-on: "ubuntu-latest"
    env:
      GO111MODULE: "on"
    steps:
      - uses: "actions/checkout@v6"

      - uses: "securego/gosec@master"
        with:
          args: "-no-fail -fmt sarif -out results.sarif ./..."

      - uses: "github/codeql-action/upload-sarif@v4"
        with:
          sarif_file: "results.sarif"
...
